@media (max-width: 720px){
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    main h1{
        color: #EA5A14;
        font-weight: bold;
        font-size: xx-large;
        grid-column-start: 2;
        margin: 0;
    }
    form{
        padding: 10px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 15vw 15vw 15vw 15vw 15vw 15vw;
    }
    form input{
        box-shadow: 2px 2px 4px #1a1a1a35;
        padding: 10px;
        border: solid #EA5A14 2px;
        border-radius: 5px;
    }

    

    button#cadastrar-bttn{
        grid-row-start: 6;
        grid-column-start: 2;
        margin: 0 auto;
        width: 240px;
        height: 50px;
        border: 0;
        background-color: #EA5A14;
        color: white;
        font-weight: 900;
        border-radius: 5px;
        box-shadow: 2px 2px 4px #1a1a1a35;
    }
    input#email{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    input#nome{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 3;
    }
    input#senha{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 4;
    }
    input#cpf{
        height: 5vw;
        grid-column-start: 2;
        grid-row-start: 5;
    }
    hr{
        margin: 0 auto;
        width: 76.5vw;
        height: 0.3vw;
        background-color: black;
        grid-column-start: 2;
        grid-row-start: 2;
        position: relative;
        bottom: 7vw;
        border: 0;
    }
    header{
        background-color: black;
        height: 100px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;

    }
    #topimg{
        width: 100%;
        height: 60px;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: -0.6rem;
        margin-top: 0.75rem;
    }
     #painel-menu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
  }
  #painel-menu a {
      text-decoration: none;
      color: #fff;
  }
  #painel-menu a:hover {
      color: #303685;
  }
  #painel-menu input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -1px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
}
  #painel-menu span {
      display: block;
      width: 45px;
      height: 8px;
      margin-bottom: 5px;
      border-radius: 3px;
      background-color: #EA5A14;
      position: relative;
      top: 12px;
      transform-origin: 4px 0px;
      transition: transform 0.7s ease;
      z-index: 2;
}
  #painel-menu span:first-child {
      transform-origin: 0 0;
  }
  #painel-menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
  }
  #painel-menu input:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background-color: white;
  }
  #painel-menu input:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
  }
    #painel-menu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    ul {
        position: absolute;
        width: 200px;
        height: 375px;
        margin: -100px 0 0 -130px;
        padding: 105px 0 0 20px;
        background-color: #EA5A14;
        transform-origin: 0 0;
        transform: translate(0%, -100%);
        transition: transform 0.7s ease;
        font-size: 4.2vw;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
        border-radius: 0px 0px 0px 10px;
    }
    ul li {
    padding: 10px 0;
    font-size: 22px;
    }
    #painel-menu input:checked~ul {
        transform: none;
    }
    footer{
        background-color: black;
        height: 140px;
        padding: 20px;
       }
    
       footer a{
        text-decoration: none;
        color: white;
        position: absolute;
        margin-top: 6px;
        font-size: 15px;
       }
       footer p{
        color: white;
        font-size: 13px;
       }
       footer img{
        width: 114px;
        margin-left: -5px;
       }
    
       footer :last-child{
        position: absolute;
        margin-top: 30px;
        font-size: 17px;
       }
}