@media (max-width: 720px) {
  /* .imgFull {
    margin-top: 3vh !important;
    margin-bottom: 2vh !important;
    width: 100vw;
    height: 35vh;
    display: flex;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.61);
    max-width: 100vw !important;
  }

  .imgFull img {
    width: 100%;
    height: 90%;
  } */

  .valorServ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .valorServ h1 {
    font: bold 6.5vw Roboto, sans-serif;
    color: #ea5a14;
  }
  .valorServ div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vh;
  }

  .valorServ p {
    font: bold 4vw Roboto, sans-serif;
    margin-top: 1vh;
  }

  .valorServ aside {
    font: italic bold 3vw Roboto, sans-serif;
    color: #1a1a1a;
    margin-top: 1vh;
  }

  .valorServ div aside:nth-child(2) {
    margin-top: 0 !important;
    color: #797979;
  }

  .infoPadrao {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .infoPadrao h2 {
    font: bold 5.5vw Roboto, sans-serif;
    color: #1a1a1a;
  }

  .infoPadrao p {
    font: 500 4vw Roboto, sans-serif;
  }

  .infoPadrao aside {
    color: #ea5a14;
    font: bold 3vw Roboto, sans-serif;
  }

  .infoPadrao h3 {
    font: bold 4vw Roboto, sans-serif;
    color: #ea5a14;
  }

  .avalAnuncio a {
    color: #ea5a14;
    font: bold 5vw Roboto, sans-serif;
  }

  .avaliacao {
    display: flex;
    flex-direction: column;
  }

  #avaliacoes h2{
    font: bold 5.5vw Roboto, sans-serif;
    color: #1a1a1a;
  }

  .avaliacao a{
    color: #ea5a14;
    font: bold 5vw Roboto, sans-serif;
  }
  .stars p {
    font: bold 4vw Roboto, sans-serif;
    color: #1a1a1a;
    width: 25vw;
  }

  .stars {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin-bottom: 2vh;
    width: 90vw;
  }

  .stars div{
    display: flex;
    gap: 1vw;
  }

  .stars:first-child{
    margin-top: 2vh;
  }

  .stars img {
    width: 15%;
  }

  .contratar{
    margin-bottom: 10vh;
  }

  .contratar a{
    background-color: #ea5a14;
    padding: 4vw;
    color: white;
    text-align: center;
    width: 60vw;
    margin: auto;
    border-radius: 10px;
  }

  .acessoAvaliacoes{
    display: flex;
    width: 100%;
    gap: 7vw;
  }
}
