main{
    padding-top: 5vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    flex-direction: column;

}

main>div{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 5px solid #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div>img{
    width: 50%;
    height: 50%;
    filter: invert(38%) sepia(97%) saturate(1682%) hue-rotate(354deg) brightness(95%) contrast(94%);
}
main>p{
    font: bold 5vw Roboto,sans-serif;
    width: 50%;
    text-align: center;
}

main>a{
    padding: 4vw;
    background-color: #ea5a14;
    font: bold 5vw roboto, sans-serif;
    color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--sombra);
    text-align: center;
}
